<div class="container-fullwidth">
  <div class="row">
    <!-- Carousel -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item active">
            <img src="assets/pres1.jpg" alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                              <span>Voyager en partageant de bons moments</span>
                            </h2>
                            <br>
                            <h3>
                              <span>Vous êtes passager et vous cherchez un trajet</span>
                            </h3>
                            <br>
                            <div class="">
                                <form class="form-inline">
                                  <app-form-dep></app-form-dep>
                                  <app-form-arr></app-form-arr>
                                  <app-form-date></app-form-date>  
                                  <br><br>
                                  <button style="background: blue; width: 20%">Valider</button>
                                </form> 
                                </div>
                        </div>
                    </div><!-- /header-text -->
          </div>
          <div class="item">
            <img src="assets/pres2.jpg" alt="Second slide">
            <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Voyager en partageant de bons moments</span>
                            </h2>
                            <br>
                            <h3>
                              <span>Vous êtes conducteur et vous cherchez des passagers</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-theme btn-sm btn-min-block" href="#"><strong>Proposer un trajet</strong></a>
                        </div>
                    </div><!-- /header-text -->
          </div>

      </div>
      <!-- Controls -->
  
    </div><!-- /carousel -->
  </div>
</div>